body{
    font-family: Arial, Helvetica, sans-serif;
}

.board-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 440px;
    height: 320px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-square{
    border-style: solid;
    border-top: none;
    border-left: none;
    font-size: 50px;
    text-align: center;
    padding-top: 20%;
}

.game-square:hover{
    cursor: pointer;
}

.game-square.right{
    border-right: none;
}

.game-square.bottom{
    border-bottom: none;
}

.nought{
    font-size: 40px;
}

.cross{
    font-size: 40px;
}
